   <!-- New Template Code start here  -->
{% load static %}


   <!DOCTYPE html>
   <html lang="en">
   
   <head>
     <meta charset="utf-8">
     <meta content="width=device-width, initial-scale=1.0" name="viewport">
   
     <title>ZenBlog</title>
     <meta content="" name="description">
     <meta content="" name="keywords">

     <!-- post edit and delete icon -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   
     <!-- Favicons -->
     <link href="{% static 'assets/img/logo.png' %}" rel="icon"> 
   
     <!-- Google Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
   
     <!-- Vendor CSS Files -->
     <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
     <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
     <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
     <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
     <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
   
     <!-- Template Main CSS Files -->
     <link href="{% static 'assets/css/variables.css' %}" rel="stylesheet">
     <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  
   </head>
   
   <body>
   
     <!-- ======= Header ======= -->
     <header id="header" class="header d-flex align-items-center fixed-top">
       <div class="container-fluid container-xxl mx-4 d-flex align-items-center justify-content-between">
   
         <a href="{% url 'home' %}" class="logo d-flex align-items-center">
           <!-- Uncomment the line below if you also wish to use an image logo -->
           <img src="{% static 'assets/img/logo.png' %}" alt="">
           <h1>ZenBlog</h1>
         </a> 
   
         <nav id="navbar" class="navbar">
           <ul>
             <li><a href="{% url 'home' %}">Home</a></li>
             <li class="dropdown"><a href="#"><span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
               <ul>
                 {% for cat in categories %}
                 <li><a href="{% url 'post_by_category' cat.id %}">{{ cat.category_name }}</a></li>
                 {% endfor %}
               </ul> 
             </li>
   
             <li><a href="{% url 'about' %}">About</a></li>
             <li><a href="{% url 'contact' %}">Contact</a></li>
           </ul>
         </nav>
         <!-- navbar -->
   
         <!-- Search Box -->
         <div class="position-relative">
           <form class="d-flex" role="search" action="{% url 'search' %}" method="GET">
             <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
             <button class="btn bi-search btn btn-outline-success" type="submit"></button>
            </form>
          </div>
            <!-- Search Box end -->
            
            <div class="register">
              {% if not user.is_authenticated %}
              <a href="{% url 'register' %}" class="btn btn-warning me-1" type="submit">Register</a>
              <a href="{% url 'login' %}" class="btn btn-warning" type="submit">Login</a>
              {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a></li>
              <span class="iconoir-profile-circle">{{ user }}</span>
              {% endif %}
            </div>
           <!-- End Search Form -->
       </div>
     </header><!-- End Header -->





