
{% extends 'base/base.html' %}

{% block content %}

<h1 class="mx-5 px-5 text-uppercase text-success pt-5 mt-5">Category- {{ category }}</h1>
{% for post in posts %}
    <div class="row mx-5 px-4">
        <div class="col-md-6"> 
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-image: url(); background-blend-mode: darken; opacity: 60%">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis"><a href="{% url 'blogs' post.slug %}">{{ post.title }}</a></strong>
                    <div class="mb-1 text-body-secondary">{{ post.created_at | timesince }}</div>
                    <div class="mb-1 text-body-secondary">{{ post.author }}</div>
                    <p class="card-text mb-auto">{{ post.short_description | truncatewords:30 }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}  
    

{% endblock %}
