{% extends '../base/base.html' %}


{% block content %}

<div class="row mx-4 mt-5 pt-5">
    <!-- load leftsidebar  -->
    {% include './leftsidebar.html' %}

{% load crispy_forms_tags %}
    <!-- right sidebar -->
    <div class="col-md-9">
        <h3>Add Post</h3>
        <form action="" method="POST" style="width: 500px;" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form | crispy }}
          <button type="submit" class="btn btn-success mt-2">Submit</button>
        </form>
    </div>
</div>

{% endblock %}